name: Ready the code and deploy

on:
  [push, workflow_dispatch]

jobs:

  test-server:
    runs-on: ubuntu-latest
    steps:
      - name: Check directory on Linux
        run: |
          echo "Running on ===>"
          node -v
          git -v
          echo "Server details ===>"
          whoami
          pwd
          ls -a
          echo $GITHUB_WORKSPACE

  build:
    runs-on: ubuntu-latest
    needs: [test-server]
    steps:
      - name: Copying the code
        uses: actions/checkout@v4
      - name: Install node
        uses: actions/setup-node@v4
        with:
            node-version: 22
      - name: Node Version
        run: node --version
      - name: Install the app
        run: yarn install --frozen-lockfile
      - name: Build the app
        run: yarn build
      - name: Run the app
        run: yarn dev

  deploy-dashboard:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Copying the code
        uses: actions/checkout@v4
      - name: Install node
        uses: actions/setup-node@v4
        with:
            node-version: 22
      - name: Node Version
        run: node --version
    
